          
            /*Overall Page's'*/
            body{
                height: 1000px;
                font-family: Arial,sans-serif;
                font-size: 15px;
                line-height: 1.5;
                color: white;
                background: #333;
            }
            
            li a:link, a:visited{
                color: white;
                text-align: center;
                padding: 0px 30px 0px 30px;
                text-decoration: none;
                background-color: #333; 
            }
            
            li a:hover, a:active{
                text-decoration: none;
                background-color: #111;
            }
            
            /*Login Control*/
            
            div.login_control{
                display: table;
                float: right;
            }
            ul.login_control{
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
            }
            
            li.login_control{ 
                float: right;
                display: inline;
                color: white;
                margin: 0;
            }
            
            li a.login_control{
                display: block;
                color: white;
                text-align: center;
                text-decoration: none;
                background-color: #333;
            }
            
            /*Navigation Control*/
            
            div.navigation_control{
                display: table;
                margin: 0 auto;
            }
            ul.navigation_control{
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
            }
            li.navigation_control{
                display: inline-block;
                color: white;
                margin: 0;

            }
            li a.navigation_control{
                color: white;
                padding: 14px 16px;
                text-decoration: none;
            }
            /*Home Page*/
            div.main{
                padding: 0px;
                float:left;
                height:100%;
                width:80%; 
                background-color: dimgray;
            }
            h1.main{
                padding: 0px 0px 0px 0px;
                text-align: center;
                font-style:italic;
                font-size: 100px;
            }
            p.main{
                text-align: center;
                font-style: normal;
            }
            div.sidebar{
                float:right;
                height:100%;
                width:19.7%; 
                background-color:blanchedalmond;
            }
            h2.sidebar{
                padding: 30px 0px 0px 0px;
                text-align: left;
                font-style: italic;
                font-size: 40px;
            }
            li.sidebar{
                float: right;
                width: 30%;
                font-style: normal;
            }
            
            /*Login Page*/
            div.login_page_main{
                text-align: center;
                height:100%;
                width:100%; 
                background-color: dimgray;
                padding: 0px;
                float: left;
              
            }
            
            h3.login_page_main{
                text-align: center;
                font-style:italic;
                font-size: 100px;
                padding: 0px 0px 0px 0px;
            }
            p.login_page_main{
                text-align: center;
                font-style: normal;
                
            }
            /*Sign Up Page*/
            div.signup_page_main{
                text-align: center;
                height:100%;
                width:100%; 
                background-color: dimgray;
                float: left;
              
            }
            
            h3.signup_page_main{
                text-align: center;
                font-style:italic;
                font-size: 100px;
            }
            p.signup_page_main{
                text-align: center;
                font-style: normal;
                
            }
            /*Log Out Page*/
            div.logout_page_main{
                text-align: center;
                height:100%;
                width:100%; 
                background-color: dimgray;
                float: left;
              
            }
            h3.logout_page_main{
                text-align: center;
                font-style:italic;
                font-size: 100px;
            }
            p.logout_page_main{
                text-align: center;
                font-style: normal;                
            }
            /*Events Page*/
            div.events_page_main{
                text-align: center;
                height:100%;
                width:80%; 
                background-color: dimgray;
                float: left;            
            }
            h1.events_page_main{
                text-align: left;
                font-style:italic;
                font-size: 100px;
                margin: 0;
                padding: 0;
            }
            p.events_page_main{
                text-align: center;
                font-style: normal;  
            }
            form.events_page_main{
                float: left;
                margin: 5px;
                padding: 0% 5% 0% 5%;
            }
            input.events_page_main{

            }
            div.events_page_sidebar_1{
                text-align: left;
                height: 50%;
                width: 19.7%;
                background-color: blanchedalmond;
                float: right;
            }
            h2.events_page_sidebar_1{
                font-size:30px;
                font-style: italic;
                margin: 2px;
            }
            div.events_page_sidebar_2{
                text-align: left;
                height: 50%;
                width: 19.7%;
                background-color: blanchedalmond;
                float: right;
            }
            h2.events_page_sidebar_2{
                font-size: 25px;
                font-style: italic;
                margin: 2px;
            }
            /*Tokens Page*/
            div.tokens_page_main{
                padding: 0px;
                height:100%;
                width: 100%;
                background-color: dimgray;
                float: left;
              
            }
            h3.tokens_page_main{
                text-align: center;
                font-style: italic;
                font-size: 100px;
            }
            
            /*Feedback Page*/
            div.feedback_page_main{
                height:100%;
                width:100%; 
                background-color: dimgray;
                float: left; 
            }
            
            h3.feedback_page_main{
                text-align: center;
                font-style: italic;
                font-size: 100px;
            }
            
            /*Create Page*/
            div.create_page_main{
                padding: 0;
                margin: 0;
                height:100%;
                width:100%; 
                background-color: dimgrey;
                float: left; 
            }
            h3.create_page_main{
                text-align: center;
                font-style:italic;
                font-size: 100px;
            }
            /*Control Page*/
            div.control_page_main{
                text-align: center;
                height:100%;
                width:100%; 
                background-color: dimgrey;
                float: left;
              
            }
            
            h3.control_page_main{
                text-align: center;
                font-style: italic;
                font-size: 100px;
            }
            p.control_page_main{
                text-align: center;
                font-style: normal;
            }

