          
            body{
                height: 1000px;
                font-family: Arial,sans-serif;
                font-size: 15px;
                line-height: 1.5;
                color: white;
            }
            
            /*Home Page*/
            ul.login_control{
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
            }
            li.login_control{ 
                float: right;
                display: inline;
                color: white;
                padding: 0px 20px 0px 20px;
            }
            li a.login_control{
                display: block;
                color: white;
                text-align: center;
                padding: 0px 30px 0px 30px;
                text-decoration: none;
            }
            li a.login_control:hover, a.login_control:active{
                background-color: #111;
            }
            ul.navigation_control{
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
            }
            li.navigation_control{
                display: inline;
                color: white;
                padding: 0px 50px 0px 50px;
            }
            li a.navigation_control{
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            div.main{
                float:left;
                height:100%;
                width:80%; 
                background-color: blanchedalmond;
            }
            h1.main{
                text-align: center;
                font-style:italic;
                font-size: 100px;
            }
            p.main{
                text-align: center;
                font-style: normal;
            }
            div.sidebar{
                float:right;
                height:100%;
                width:19.7%; 
                background-color:red;
                border-left: 4px solid black;
            }
            h2.sidebar{
                padding: 30px 0px 0px 0px;
                text-align: left;
                font-style: italic;
                font-size: 40px;
            }
            li.sidebar{
                float: right;
                width: 30%;
                font-style: normal;
            }
            
            /*Login Page*/
            div.login_page_main{
                text-align: center;
                height:100%;
                width:100%; 
                background-color: red;
              
            }
            
            h3.login_page_main{
                text-align: center;
                font-style:italic;
                font-size: 100px;
            }
            p.login_page_main{
                text-align: center;
                font-style: normal;
                
            }
            

